body
{
    background-image: url('../../imgs/fondo.png');
    background-repeat: repeat-x;
}

.redondear_4px{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.Panel_1
{
    border: 1px solid #9966FF;
    width: 190px;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.Panel_1 .titulo
{
    padding: 5px;
    background-color: #CCCCFF;
    font-size: medium;
    font-weight: bolder;
    color: #000080;
}

.Panel_1 .Cuerpo
{
    padding: 5px;
}

.MnLink
{
    color: #6600FF;
    font-size: 12pt;
    font-weight: normal;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    border: solid 0px transparent;
}

.MnLink:visited
{
    color: #000000;
}
 
.MnLink:hover
{
    color: #003399;
    text-decoration: underline;
    background-color: #EEEEFF;
}